/* Define mixin with two arguments */
@mixin bordered($color, $width) {
    border: $width solid $color;
    }
    
    .myArticle {
    @include bordered(blue, 1px); // Call mixin with two values
    }
    
    .myNotes {
    @include bordered(red, 2px); // Call mixin with two values
    }
    .myArticle {

        border: 1px solid blue;
        }
        
        .myNotes {
        border: 2px solid red;
        }