* {
    box-sizing: border-bx;
}

form {
    background-color: rgb(255, 252, 252);
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding: 30px;
    border: 1px, solid, black;
    width: 500px;
}
body {
    background-color: bisque;
}