.countainer{
    display: flex;
    flex-direction: column;
    background-color: rgb(121, 94, 62); 
    align-content: flex-start;
}
.countainer div{
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size:20px;
    width: 150px;
    height: 100px;
}