.mybutton {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }
    
    .primary {
    background-color: #007bff;
    color: white;
    }
    
    .secondary {
    background-color: #6c757d;
    color: white;
    }

    .third {
    background-color: red;
    color: white;
    }